![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [3]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [4]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('./data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [5]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [9]:
# Let's grab just one column
heart_df["age"]

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [10]:
# Grab the same column as an attribute
heart_df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [11]:
# What type is the column?
type(heart_df.age)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [12]:
# Check out the dataframe index
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [13]:
# Check out the series index
heart_df.age.index

RangeIndex(start=0, stop=303, step=1)

In [16]:
heart_df.age.values

array([63, 37, 41, 56, 57, 57, 56, 44, 52, 57, 54, 48, 49, 64, 58, 50, 58,
       66, 43, 69, 59, 44, 42, 61, 40, 71, 59, 51, 65, 53, 41, 65, 44, 54,
       51, 46, 54, 54, 65, 65, 51, 48, 45, 53, 39, 52, 44, 47, 53, 53, 51,
       66, 62, 44, 63, 52, 48, 45, 34, 57, 71, 54, 52, 41, 58, 35, 51, 45,
       44, 62, 54, 51, 29, 51, 43, 55, 51, 59, 52, 58, 41, 45, 60, 52, 42,
       67, 68, 46, 54, 58, 48, 57, 52, 54, 45, 53, 62, 52, 43, 53, 42, 59,
       63, 42, 50, 68, 69, 45, 50, 50, 64, 57, 64, 43, 55, 37, 41, 56, 46,
       46, 64, 59, 41, 54, 39, 34, 47, 67, 52, 74, 54, 49, 42, 41, 41, 49,
       60, 62, 57, 64, 51, 43, 42, 67, 76, 70, 44, 60, 44, 42, 66, 71, 64,
       66, 39, 58, 47, 35, 58, 56, 56, 55, 41, 38, 38, 67, 67, 62, 63, 53,
       56, 48, 58, 58, 60, 40, 60, 64, 43, 57, 55, 65, 61, 58, 50, 44, 60,
       54, 50, 41, 51, 58, 54, 60, 60, 59, 46, 67, 62, 65, 44, 60, 58, 68,
       62, 52, 59, 60, 49, 59, 57, 61, 39, 61, 56, 43, 62, 63, 65, 48, 63,
       55, 65, 56, 54, 70, 62, 35, 59, 64, 47, 57, 55, 64, 70, 51, 58, 60,
       77, 35, 70, 59, 64, 57, 56, 48, 56, 66, 54, 69, 51, 43, 62, 67, 59,
       45, 58, 50, 62, 38, 66, 52, 53, 63, 54, 66, 55, 49, 54, 56, 46, 61,
       67, 58, 47, 52, 58, 57, 58, 61, 42, 52, 59, 40, 61, 46, 59, 57, 57,
       55, 61, 58, 58, 67, 44, 63, 63, 59, 57, 45, 68, 57, 57])

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [14]:
# Check out the dataframe columns
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [15]:
# Now try with the series
heart_df.age.columns

AttributeError: 'Series' object has no attribute 'columns'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [26]:
# Check out the dataframe value
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [31]:
heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### `.tail()` : last 5 rows

In [35]:
heart_df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [36]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [45]:
heart_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [47]:
heart_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [41]:
heart_df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [48]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

Let's pause and interpret - any observations?

-

In [50]:
# Now min
heart_df.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [51]:
# And max
heart_df.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [52]:
# Accessing a CSV from a url
animal_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
animal_url.head()

IncompleteRead: IncompleteRead(0 bytes read)

In [ ]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
animal_json = pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json')
animal_json.head()

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!
animal_url.shape

In [55]:
!ls data

Austin_Animal_Center_Intakes_021822.csv new_releases.json
OpenFoodFacts.csv                       plants.json
heart.csv

In [53]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
animal_df = pd.read_csv('./data/Austin_Animal_Center_Intakes_021822.csv')

In [56]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
animal_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [57]:
# Check the last 5 rows
animal_df.tail()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136518,A851512,*Lea,02/14/2022 10:30:00 AM,February 2022,4907 Strass in Austin (TX),Stray,Normal,Cat,Intact Female,2 months,Domestic Shorthair,Black
136519,A851544,*Vera,02/14/2022 02:34:00 PM,February 2022,700 East Live Oak in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Australian Kelpie Mix,Black/White
136520,A851553,*Tommy Bahama,02/14/2022 04:19:00 PM,February 2022,9Th And Red River in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chinese Sharpei Mix,Red
136521,A851754,NaN,02/18/2022 09:35:00 AM,February 2022,1411 Gracy Farms Lane in Austin (TX),Stray,Pregnant,Cat,Intact Female,2 years,Domestic Shorthair,Gray Tabby
136522,A851742,Storm,02/17/2022 05:32:00 PM,February 2022,Thorton Road in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Pit Bull,White/Black

In [58]:
# Check the shape
animal_df.shape

(136523, 12)

In [59]:
# Check the datatypes
animal_df.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [60]:
# Check more general information on the dataframe
animal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136523 entries, 0 to 136522
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136523 non-null  object
 1   Name              95561 non-null   object
 2   DateTime          136523 non-null  object
 3   MonthYear         136523 non-null  object
 4   Found Location    136523 non-null  object
 5   Intake Type       136523 non-null  object
 6   Intake Condition  136523 non-null  object
 7   Animal Type       136523 non-null  object
 8   Sex upon Intake   136522 non-null  object
 9   Age upon Intake   136523 non-null  object
 10  Breed             136523 non-null  object
 11  Color             136523 non-null  object
dtypes: object(12)
memory usage: 12.5+ MB

In [61]:
# Check summary/descriptive statistics on the dataframe
animal_df.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,136523,95561,136523,136523,136523,136523,136523,136523,136522,136523,136523,136523
unique,122029,23018,95988,101,57672,6,15,5,5,53,2729,613
top,A721033,Max,09/23/2016 12:00:00 PM,June 2015,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,619,64,2189,25645,94009,117672,76925,44888,23391,32018,14258

#### Any Observations?

- Not as many unique IDS as there are data points. We could have duplicates

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [62]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [63]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_row = pd.DataFrame(next_row, index=[0])
new_row

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,February 2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [66]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
full_df = pd.concat([animal_df, new_row], ignore_index=True)

In [67]:
# Let's check the end to make sure we were successful!
full_df.tail()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136519,A851544,*Vera,02/14/2022 02:34:00 PM,February 2022,700 East Live Oak in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Australian Kelpie Mix,Black/White
136520,A851553,*Tommy Bahama,02/14/2022 04:19:00 PM,February 2022,9Th And Red River in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chinese Sharpei Mix,Red
136521,A851754,NaN,02/18/2022 09:35:00 AM,February 2022,1411 Gracy Farms Lane in Austin (TX),Stray,Pregnant,Cat,Intact Female,2 years,Domestic Shorthair,Gray Tabby
136522,A851742,Storm,02/17/2022 05:32:00 PM,February 2022,Thorton Road in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Pit Bull,White/Black
136523,A851755,T'Challa,2/28/2022 11:25:00 AM,February 2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [72]:
# Create a new column, 'test', where every value in the col is 0
full_df['test'] = 0

In [73]:
# Sanity check
full_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,0
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,0
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,0

But we don't need that - let's drop that column.

In [75]:
# Drop that test column
full_df.drop('test', axis=1, inplace=True)

#Alt way
# full_df = full_df.drop('test', axis=1)

In [77]:
# Sanity check
full_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [78]:
# Create a new column, 'Type', from the two 'Type' columns
full_df['Type'] = full_df['Intake Type'] + " " + full_df['Animal Type']

In [79]:
# Sanity check
full_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Stray Dog

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [ ]:
# What type is the DateTime column now?

In [ ]:
# Let's make that a datetime datatype

In [ ]:
# Sanity check

In [ ]:
# Now we can access parts of a datetime object using .dt - an attribute!

In [ ]:
# Make that into a new column

In [ ]:
# Sanity check

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [81]:
# Check which rows have an intake year greater than or equal to 2020
full_df['Intake Condition'] >= "Sick"

0         False
1         False
2         False
3          True
4         False
          ...
136519    False
136520    False
136521    False
136522    False
136523    False
Name: Intake Condition, Length: 136524, dtype: bool

In [82]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
sum(full_df['Intake Condition'] >= "Sick")

5873

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [83]:
# Create a subset dataframe of animals taken in during or after 2020
subset = full_df.loc[full_df['Intake Condition'] >= "Sick"]

In [84]:
# Sanity check
subset.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
38,A794334,Pearl,09/02/2019 11:52:00 AM,September 2019,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,Boxer Mix,White,Owner Surrender Dog
56,A736501,Travis,10/11/2016 04:43:00 PM,October 2016,Austin (TX),Owner Surrender,Sick,Cat,Neutered Male,15 years,Domestic Shorthair Mix,Black,Owner Surrender Cat
112,A729943,*Doug,06/25/2016 11:09:00 PM,June 2016,2808 Harpers Ferry in Austin (TX),Stray,Sick,Cat,Intact Male,10 years,Domestic Shorthair Mix,Blue Tabby,Stray Cat
128,A834412,Montie,05/13/2021 01:58:00 PM,May 2021,1601 East Slaughter Lane in Austin (TX),Stray,Sick,Cat,Neutered Male,5 years,Domestic Shorthair,Brown Tabby,Stray Cat

We can return only certain columns when we do this, by adding an argument after the condition:

In [85]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
subset[['Animal ID', 'Animal Type', 'Type']]

       Animal ID Animal Type                 Type
3        A665644         Cat            Stray Cat
38       A794334         Dog  Owner Surrender Dog
56       A736501         Cat  Owner Surrender Cat
112      A729943         Cat            Stray Cat
128      A834412         Cat            Stray Cat
...          ...         ...                  ...
136393   A851610         Cat            Stray Cat
136422   A851646       Other       Wildlife Other
136480   A851725         Dog  Owner Surrender Dog
136482   A850863         Dog  Owner Surrender Dog
136483   A850396         Cat            Stray Cat

[5873 rows x 3 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [88]:
# Find all the Stray Cats taken in during or after 2020
stray_sick_df = full_df.loc[(full_df['Type'] == 'Stray Cat') & (full_df['Intake Condition'] == 'Sick')]

### Your turn!

### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here
!= 'Normal'

### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [89]:
# Find the first 3 rows
full_df.iloc[0:3]

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog

In [90]:
# Same as using head(3)
full_df.head(3)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog

In [93]:
# Can look exactly where the 0 index is
full_df.iloc[0]

Animal ID                                       A786884
Name                                             *Brock
DateTime                         01/03/2019 04:19:00 PM
MonthYear                                  January 2019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
Type                                          Stray Dog
Name: 0, dtype: object

In [94]:
sub = full_df.set_index('Animal ID')
sub.head()

,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
Animal ID,,,,,,,,,,,,
A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog
A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Stray Dog

In [ ]:
# But what about our subset dataframe above? It doesn't have an index 0

In [95]:
# Try it...
sub.iloc[0]

Name                                             *Brock
DateTime                         01/03/2019 04:19:00 PM
MonthYear                                  January 2019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
Type                                          Stray Dog
Name: A786884, dtype: object

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [96]:
# Check the value counts for Animal Type
full_df['Animal Type'].value_counts()

Dog          76925
Cat          51699
Other         7240
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [97]:
# Now check Breed
full_df['Breed'].value_counts()

Domestic Shorthair Mix               32018
Domestic Shorthair                   10410
Pit Bull Mix                          8902
Labrador Retriever Mix                7359
Chihuahua Shorthair Mix               6481
                                     ...
German Shepherd/English Coonhound        1
Lowchen Mix                              1
Collie Rough/Keeshond                    1
Chihuahua Shorthair/Staffordshire        1
Doberman Pinsch/Rottweiler               1
Name: Breed, Length: 2729, dtype: int64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [99]:
# Use the normalize argument to view as percentages
full_df['Animal Type'].value_counts(normalize=True).head(2)

Dog    0.563454
Cat    0.378681
Name: Animal Type, dtype: float64

In [103]:
full_df['Breed'].value_counts()[full_df['Breed'].value_counts()>5000]

Domestic Shorthair Mix     32018
Domestic Shorthair         10410
Pit Bull Mix                8902
Labrador Retriever Mix      7359
Chihuahua Shorthair Mix     6481
Name: Breed, dtype: int64

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [ ]:
# Let's sort the year column

In [107]:
# Now, sort the Animal Type col
full_df['Animal Type'].sort_values(ascending=True)

37934      Bird
116251     Bird
81291      Bird
67923      Bird
7674       Bird
          ...
2197      Other
94415     Other
20297     Other
50801     Other
129085    Other
Name: Animal Type, Length: 136524, dtype: object

In [109]:
# We can do this on the whole dataframe, it just needs to know what to sort by
full_df.sort_values(by='Animal Type')

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
37934,A779682,NaN,09/04/2018 01:02:00 PM,September 2018,107 E Brenham St in Manor (TX),Public Assist,Normal,Bird,Intact Female,1 year,Chicken,Gray/Brown,Public Assist Bird
116251,A721860,NaN,03/06/2016 10:47:00 AM,March 2016,2401 Marcus Abrams in Austin (TX),Stray,Injured,Bird,Unknown,5 years,Parrot,Green/Gray,Stray Bird
81291,A779659,NaN,09/04/2018 01:02:00 PM,September 2018,107 E Brenham St in Manor (TX),Public Assist,Normal,Bird,Intact Female,1 year,Chicken,Brown,Public Assist Bird
67923,A736574,Aeos,10/13/2016 11:10:00 AM,October 2016,Guadalupe St And W N Loop Blvd in Austin (TX),Stray,Normal,Bird,Unknown,1 year,Cockatiel Mix,White,Stray Bird
7674,A757762,NaN,09/06/2017 11:33:00 AM,September 2017,2412 E 9Th Street in Austin (TX),Owner Surrender,Normal,Bird,Unknown,5 months,Duck Mix,White/Black,Owner Surrender Bird
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197,A680208,NaN,05/30/2014 06:59:00 PM,May 2014,4000 S Ih 35 in Austin (TX),Wildlife,Normal,Other,Unknown,4 weeks,Bat,Brown/Black,Wildlife Other
94415,A680328,NaN,06/01/2014 03:52:00 PM,June 2014,1800 Lavaca St.#409 in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Bat Mix,Brown,Wildlife Other
20297,A667321,NaN,11/16/2013 11:00:00 AM,November 2013,411 Bastrop Hwy in Austin (TX),Stray,Sick,Other,Unknown,7 months,Fox Mix,Gray/Orange,Stray Other
50801,A806620,*Coco,10/13/2019 01:21:00 PM,October 2019,2407 West Slaughter in Austin (TX),Stray,Normal,Other,Intact Female,1 year,Lionhead,Brown,Stray Other
129085,A808497,NaN,11/09/2019 04:38:00 PM,November 2019,6701 Marble Creek in Austin (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown/Brown,Wildlife Other

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.